body {
    background-image: url('bgimage.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat ;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; 
    position: relative; 
}

.card {
    background-color: rgba(231, 204, 101, 0.8);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 2;
    position: relative;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

input.form-control {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-primary {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1b383a;
    color: #f6e8df;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table td {
    text-align:justify;
}

.todo-table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.status {
    font-weight: bold;
    color: #1b383a;
}

.btn-block {
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    font-weight: bolder;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1.2em;
}

